<!DOCTYPE html>
{% load static %}

<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html" />
		<meta http-equiv="content-script-type" content="text/javascript" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-language" content="nl" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<meta name="author" content="Danila Likh" />
		<meta name="description" content="Hi, I'm Danila Likh. Web developer, security engineer and creative programmer" />
		<meta name="keywords" content="Danila Likh, Kerusey, Interactive Resume, security, Web developer, Interactive CV, Resume, CV, CoffeeBreaker, Python, MySQL, Django" />
		<title> Danila Likh - Interactive Resume</title>
		
		<!-- Bootstrap core CSS -->
		<link href="{% static 'fonts.googleapis.com/css6d06.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'view/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'view/css/style.css' %}" rel="stylesheet" />
		
		<link rel="shortcut icon" href="{% static 'view/images/favicon32x32.ico' %}" type="image/x-icon" />
		<link rel="icon" href="{% static 'view/images/favicon32x32.ico' %}" type="image/x-icon" />

		<!-- Begin Inspectlet Embed Code -->
		<script type="text/javascript" id="inspectletjs">
			window.__insp = window.__insp || [];
			__insp.push(['wid', 92785244]);
			(function() {
				function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
				if (window.attachEvent){
					window.attachEvent('onload', __ldinsp);
				}else{
					window.addEventListener('load', __ldinsp, false);
				}
			})();
		</script>
		<!-- End Inspectlet Embed Code -->
	</head>
	<body data-spy="scroll" data-target="#navbar-example">

    <div id="top" class="jumbotron" data-position="center right">
            <div class="container">
				<h1>Danila Likh</h1>
				<p class="lead">Interactive CV</p>
			</div>
			
			<div class="overlay"></div>
			
			<a href="#profile" class="scroll-down">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
		</div>
		
		<nav class="navbar navbar-default" id="navbar-example" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#profile">Profile</a></li>
					<li><a href="#experiences">Experiences</a></li>
					<li><a href="#abilities">Abilities</a></li>
                    <li><a href="#projects">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		
		<div class="background-white">
			<div id="profile" class="container">
				<h2>Profile</h2>
<p class="lead">I&#039;m a creative Developer and Software Engineer</p>

<hr />

<div class="row">
	<div class="col-md-4">
		<h3>Who am I?</h3>
		<p>
			I am a Software Engineer and Web Developer. I have many interests across industry fields, such as Back-End, Cybersecurity, Internet of Things, Distributed Ledger Technology, Machine Learning, etc. The most enjoyable aspect of my work is developing a new product, building its architecture, and having all these morning briefings with your team sharing plans and ideas about further development.</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="{% static 'view/images/myface.png' %}" alt="Danila Likh" width="246" height="246"/>
	</div>
	<div class="col-md-4">
		<h3>Details</h3>
		<p>
			<strong>Name:</strong><br />
			Likh Danila <br />
			<strong>Age:</strong><br />
			18 years old<br />
			<strong>Location:</strong><br />
			Tallinn, Harjumaa, Estonia</p>
		
		<a href="https://twitter.com/KeruseyOfficial" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @keruseyoff</a>
	</div>
</div>

</div>
    </div>
		<div id="experiences" class="container">
			<h2>Experiences</h2>
<p class="lead">
	&ldquo;Protons give an atom its identity, electrons its personality.&rdquo;<br />- Bill Bryson, A short history of nearly everything
</p>

<hr />


<h3>Educations</h3>


<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Tallinna Tehnikaülikool</h4>
			<p class="experience-period">
				Jun 2021 - Current
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Bachelor - Cyber Security Engineering</strong>
				<span class="hidden-phone">
					The education is mainly about protecting IT systems from attacks, composing a malware-proof information system, analyzing vulnerabilities, and programming. For the Back-end developer (whom I originally am), it is essential to think about security while orchestrating any architecture or maintaining project. </span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Tallinn, Estonia
                    </span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>ITMO University</h4>
			<p class="experience-period">
				Sep 2016 - Jun 2020
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Computer Science and Math Courses</strong>
				<span class="hidden-phone">
					I took additional courses at ITMO University to earn basic algorithms and data structures. I learned C/C++ programming languages and started my first serious project - "SmarTClouD".				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
                        Saint-Petersburg, Russia
                    </span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>High School</h4>
			<p class="experience-period">
				Sep 2010 - Jun 2021
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>School - Lyceum #64</strong>
                <span class="hidden-phone">
                    I have enjoyed doing Maths and Programming since a young age, and I used to spend considerable time solving mathematical problems. By the seventh grade, I realized I wanted to tie my life with IT, and after trying myself in different aspects of the industry, I decided to go to the Back-end. </span>
                    <span class="experience-details">
                        <span class="location">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            Saint-Petersburg, Russia
                        </span>
                    </span>
			</p>
		</div>
	</div>
	
	
</div>
	
	

<hr />

<h3>Careers</h3>


<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Freelance and<br>Personal orders</h4>
			<p class="experience-period">
                Jul 2020 - Current</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Part-time - Web Developer / Fullstack developer</strong>
				<span class="hidden-phone">
					Since I finished my works with CoffeeBreaker, I begin to dive deeper into the web industry. I started few new projects on Flask and Django web frameworks (even this site has been written with Django usage) as the customers' orders on freelance. But still, I was a student in school, and I had to prepare for my final exams, so I wasn't able to spend all my time honing my web engineering skills.</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Online</span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>CoffeeBreaker Project</h4>
			<p class="experience-period">
				Oct 2019 - Jul 2020
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Team Lead and Web Developer</strong>
				<span class="hidden-phone">
					As a Team Leader on CoffeeBreaker, I was responsible for designing the architecture and logic of this project, organizing the developer team, splitting technical tasks. Speaking about my impact on it, I made Back-End logic of Server and Cluster parts, you may go forward to see what's I am talking about.</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Saint-Petersburg
                    </span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="https://github.com/kerusey/CoffeeBreaker/" target="_blank">CoffeeBreaker Project</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>


	<div class="experience row">
		<div class="col-md-4">
			<h4>SmartCLouD project</h4>
			<p class="experience-period">
				Feb Jun 2019 - Oct 2019 </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Fulltime - Developer</strong>
				<span class="hidden-phone">
					It is my first more or less serious project. I was fascinated with the idea of Richard Clarkson's floating cloud and decided to make my copy. It wasn't a walk in the park (especially for 15 years old me). However, I finished it and right now I can surely tell that it was a great experience.</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Tallinn</span>


					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="https://github.com/kerusey/SmartCloud" target="_blank">SmarTClouD project</a>
					</span>


				</span>
			</p>
		</div>
	</div>

	
</div>
	
		</div>
		
		<div class="background-white">
			<div id="abilities" class="container">
				<h2>Abilities</h2>
<p class="lead">
	&ldquo;Learn continually. There’s always “one more thing” to learn.&rdquo;<br />- Steve Jobs
</p>

<hr />

<h3>Skills</h3>

<div class="row">

		
	<div class="col-md-6">
		<ul class="no-bullets">
		
				
			<li>
				<span class="ability-title">Python</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Telegram API</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Flask</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Django</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">CLI</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>



            <li>
				<span class="ability-title">Unix Server Administrating</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


				</span>
			</li>


				
			<li>
				<span class="ability-title">Here Maps</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Leaflet</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">C/C++</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Arduino</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>



		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			
					
            <li>
				<span class="ability-title">Processing</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Object Orientated Programming</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



            <li>
				<span class="ability-title">MySQL</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Ruby</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Ruby on Rails</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>



			<li>
				<span class="ability-title">Java</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">JavaScript</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">HTML5</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">CSS3</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					

		</ul>
	</div>
	
		
</div>

<hr />

<h3>Languages</h3>

<div class="row">

		
	<div class="col-md-6">
		<ul class="no-bullets">
		
				
			<li>
				<span class="ability-title">Russian (Mother tongue)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">English (Daily use)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star   "></span>
					
									
				</span>
			</li>
			
			 
			
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">



            <li>
                <span class="ability-title">Estonian (kõik on nii halb)</span>
                <span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
				
		</ul>
	</div>
	
		
</div>

<hr />

<h3>Tools</h3>

<div class="row">
		
	<div class="col-md-6">
		<ul class="no-bullets">
		
				
			<li>
				<span class="ability-title">Pycharm (3 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Sublime Text and Merge (4 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Windows (9 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Shodan (2 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Raspberry pi (2 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>



            <li>
				<span class="ability-title">Git / Git Flow (3 years)</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">NGINX (1 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Postman (2 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Arch Linux (1 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>

			 
			
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			


            <li>
				<span class="ability-title">Debian Linux (2 years)</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>


				
			<li>
				<span class="ability-title">VS Code (3 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Visual Studio (4 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			


            <li>
				<span class="ability-title">Intellij IDEA (2 years)</span>
				<span class="ability-score">


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star filled"></span>


					<span class="glyphicon glyphicon-star "></span>


				</span>
			</li>


				
			<li>
				<span class="ability-title">Ruby Mine (1 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Data Grip (2 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Docker (1 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Circle CI (1 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Jupiter Notebook (1 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
		</ul>
	</div>
	
	        </div>
            </div>
        </div>
		
				
		<div id="projects" class="container">
			<h2>Projects</h2>
<p class="lead">
	&ldquo;Your greatest asset is your earning ability, to apply your knowledge, skills in order to get results which others will pay.&rdquo;<br />- Brian Tracy
</p>

<hr />


<div class="row">

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="{% static 'view/images/coffeebreakerlogo.png' %}" alt="CoffeeBreaker" />
			
			<figcaption>
				<h3>CoffeeBreaker</h3>
				<p>CoffeeBreaker is the automated system that allows coffee drinkers to make one without the participation of a Barista</p>
				<p><strong>Tags:</strong> <br/>Coffee Machine, Automatization, Raspberry pi, IoT</p>
                <a href="https://github.com/kerusey/CoffeeBreaker/" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>



	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="{% static 'view/images/smartcloudlogo.jpg' %}" alt="SmarTClouD" />
			
			<figcaption>
				<h3>SmarTClouD</h3>
				<p>Floating Cloud, a magnetically levitating ambient lamp with light organ technology</p>
				<p><strong>Tags:</strong> <br />Design, Development, Arduino</p>
				<a href="https://github.com/kerusey/SmarTClouD" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>



    <div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="{% static 'view/images/personalcvlogo.png' %}" alt="CoffeeBreaker" />

			<figcaption>
				<h3>My personal CV</h3>
				<p>Why wouldn't I call my interactive CV a project? It actually is =)</p>
				<p><strong>Tags:</strong> <br/>Interactive CV, Resume, Danila Likh</p>
                <a href="https://github.com/kerusey/PersonalCV/" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>

		
</div>


    <div class="text-center portfolio-referral">
	    <p>There is plenty of small projects you may find on my GitHub portfolio</p>
	    <a href="https://github.com/kerusey/" class="btn btn-primary" target="_blank">See my projects on Github</a>
    </div>
	
		</div>
		
		<div class="background-gray">
			<div id="contact" class="container">
				<h2>Contact</h2>
<p class="lead">
	&ldquo;Be well, do good work, and keep in touch.&rdquo;<br />- Garrison Keillor
</p>

<hr />

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<a href="https://twitter.com/keruseyofficial" target="_blank">
					<span class="icon icon-twitter"></span>
					https://twitter.com/keruseyofficial/</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/keruseyoff/" target="_blank">
					<span class="icon icon-linkedin"></span>
					https://linkedin.com/in/keruseyoff/</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<a href="mailto:keruseyoff@gmail.com">
					<span class="icon icon-email"></span>
					<span>Keruseyoff@gmail.com</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<hr />
		</div>
		</div>


		<script type="text/javascript" src="{% static 'ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'view/js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'view/js/bootstrap.min.js' %}"></script>


	</body>

</html>