<!DOCTYPE html>
{% load static %}

<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html" />
		<meta http-equiv="content-script-type" content="text/javascript" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-language" content="nl" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<meta name="author" content="Danila Likh" />
		<meta name="description" content="Hi, I'm Danila Likh. Web developer, security engineer and creative programmer" />
		<meta name="keywords" content="Danila Likh, Likh, Данила Лих, Kerusey, Interactive Resume, security, Web developer, Interactive CV, Resume, CV, CoffeeBreaker, Python, MySQL, Django" />
		<title> Danila Likh - Interactive Resume</title>
		
		<!-- Bootstrap core CSS -->
		<link href="{% static 'fonts.googleapis.com/css6d06.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'view/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'view/css/style.css' %}" rel="stylesheet" />
		
		<link rel="shortcut icon" href="{% static 'view/images/favicon32x32.ico' %}" type="image/x-icon" />
		<link rel="icon" href="{% static 'view/images/favicon32x32.ico' %}" type="image/x-icon" />

		<!-- Begin Inspectlet Embed Code -->
		<script type="text/javascript" id="inspectletjs">
			window.__insp = window.__insp || [];
			__insp.push(['wid', 92785244]);
			(function() {
				function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
				if (window.attachEvent){
					window.attachEvent('onload', __ldinsp);
				}else{
					window.addEventListener('load', __ldinsp, false);
				}
			})();
		</script>
		<!-- End Inspectlet Embed Code -->
	</head>
	<body data-spy="scroll" data-target="#navbar-example">

    <div id="top" class="jumbotron" data-position="center right">
            <div class="container">
				<h1>Danila Likh</h1>
				<p class="lead">Interactive CV</p>
			</div>
			
			<div class="overlay"></div>
			
			<a href="#profile" class="scroll-down">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
		</div>
		
		<nav class="navbar navbar-default" id="navbar-example" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#profile">Profile</a></li>
					<li><a href="#experiences">Experiences</a></li>
					<li><a href="#abilities">Abilities</a></li>
                    <li><a href="#projects">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		
		<div class="background-white">
			<div id="profile" class="container">
				<h2>Profile</h2>
<p class="lead">I&#039;m a creative Developer and Software Engineer</p>

<hr />

<div class="row">
	<div class="col-md-4">
		<h3>Who am I?</h3>
		<p>
			I am a Software Engineer and qualified Python Developer with over 3 years of business experience in different fields of the industry. My main work areas are Data Engineering and Web Development. I am an energetic, ambitious person who has developed a mature and responsible approach to any task I undertake or situation that I am present with
        </p>
	</div>
	<div class="col-md-4 text-center">
		<img src="{% static 'view/images/myface.png' %}" alt="Danila Likh" width="246" height="246"/>
	</div>
	<div class="col-md-4">
		<h3>Details</h3>
		<p>
			<strong>Name:</strong><br />
			Likh Danila <br />
			<strong>Age:</strong><br />
			19 years old<br />
			<strong>Location:</strong><br />
			Tallinn, Harjumaa, Estonia</p>
		<a href="https://www.linkedin.com/in/keruseyoff/" class="linkedin" data-show-count="false" data-size="large" data-show-screen-name="false">Connect me @Kerusey</a>
	</div>
</div>

</div>
    </div>
		<div id="experiences" class="container">
			<h2>Experiences</h2>
<p class="lead">
	&ldquo;Protons give an atom its identity, electrons its personality.&rdquo;<br />- Bill Bryson, A short history of nearly everything
</p>

<hr />


<h3>Educations</h3>


<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Tallinna Tehnikaülikool</h4>
			<p class="experience-period">
				Jun 2021 - Current
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Bachelor of Cybersecurity Engineering</strong>
				<span class="hidden-phone">
                    Education here includes programming, web security, databases, cryptography, and data engineering. I have also improved my time management and teamwork skills. Scientific research has become a significant part of my education process.
                </span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Tallinn, Estonia
                    </span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>ITMO University</h4>
			<p class="experience-period">
				Sep 2016 - Jun 2020
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Computer Science and Math Courses</strong>
				<span class="hidden-phone">
					I took additional courses at ITMO University aimed at computer science, programming, and math. I have been troubleshooting and debugging code, ensuring compatibility with devices, browsers, and operating systems. I have been learning about development strategies and design patterns. Practically speaking, I performed tests of prototypes and final products, gathered and completed requirements, and developed project plans.
                </span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
                        Saint-Petersburg, Russia
                    </span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>High School</h4>
			<p class="experience-period">
				Sep 2010 - Jun 2021
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>School - Lyceum #64</strong>
                <span class="hidden-phone">
                    I have enjoyed doing Maths and Programming since a young age, and I used to spend considerable time solving mathematical problems. By the seventh grade, I decided my life to be in IT.</span>
                    <span class="experience-details">
                        <span class="location">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            Saint-Petersburg, Russia
                        </span>
                    </span>
			</p>
		</div>
	</div>
	
	
</div>
	
	

<hr />

<h3>Careers</h3>


<div class="experiences">

    <div class="experience row">
		<div class="col-md-4">
			<h4>FBS inc.</h4>
			<p class="experience-period">
                Mar 2022 - Current</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Full-time - Python Developer</strong>
				<span class="hidden-phone">
					My duties includes developing, implementing, supporting, and maintaining data export protocols, standards, and documentation. I am partnered with infrastructure teams on evaluation and feasibility assessments of new systems and technologies and work with numerous teams of talented software engineers to define, build and maintain cloud infrastructure. I apply external APIs to satisfy business requests and write software that scales to petabytes of data.</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Limassol, Cyprus</span>

                <span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="https://fbs.com/" target="_blank">FBS inc.</a>
					</span>
                </span>
			</p>
		</div>
	</div>

    <div class="experience row">
		<div class="col-md-4">
			<h4>Fabrique Studio</h4>
			<p class="experience-period">
                Nov 2021 - Apr 2022</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Full-time - Middle Back-End Developer</strong>
				<span class="hidden-phone">
					I was working as a Middle Python Back-End developer at Fabrique Studio based in Moscow. At that juncture, I was working on high-quality business logic automatization solutions. Offered friendly and efficient service to customers, handled challenging situations with ease. Quickly learned new skills and applied them to daily tasks, improving efficiency and productivity.</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Moscow city, Russia</span>

                <span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="https://fabrique.studio/" target="_blank">Fabrique Studio</a>
					</span>
                </span>
			</p>
		</div>
	</div>

	<div class="experience row">
		<div class="col-md-4">
			<h4>Open Source Developer</h4>
			<p class="experience-period">
                Jul 2020 - Nov 2021</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Part-time - Web Developer / Fullstack developer</strong>
				<span class="hidden-phone">
					Actively listened to customers, handled concerns quickly and escalated major issues to supervisor. Oversaw daily operations to ensure high levels of productivity. Created plans and communicated deadlines to ensure projects were completed on time. Provided over 10 high-quality business solutions in Back-End DevOps sphere.
                </span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Online</span>
				</span>
			</p>
		</div>
	</div>


	<div class="experience row">
		<div class="col-md-4">
			<h4>CoffeeBreaker</h4>
			<p class="experience-period">
				Oct 2019 - Jul 2020
            </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Full-time - Team Lead and Web Developer</strong>
				<span class="hidden-phone">
					As a Team Leader on CoffeeBreaker, I was responsible for designing the project's architecture and logic, specifying the tech stack and team members' responsibilities. Implemented new working processes to deliver multiple improvements and orchestrated the development team.
                </span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Saint-Petersburg, Russia
                    </span>


					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="https://github.com/kerusey/CoffeeBreaker/" target="_blank">CoffeeBreaker Project</a>
					</span>


				</span>
			</p>
		</div>
	</div>


	<div class="experience row">
		<div class="col-md-4">
			<h4>SmartCLouD</h4>
			<p class="experience-period">
				Jun 2019 - Oct 2019 </p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Full-time - Developer</strong>
				<span class="hidden-phone">
					As a researcher developer, I have researched over 5 patents related to the project topic (magnet levitation, optical deviation detecting systems, etc.). Revised, modularized, and updated old code bases to modern development standards, reducing operating costs and improving functionality. Introduced automated diagnostics for sensor data collection and processing to elevate data quality.
                </span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						Tallinn, Estonia</span>


				</span>
			</p>
		</div>
	</div>


</div>

		</div>

		<div class="background-white">
			<div id="abilities" class="container">
				<h2>Abilities</h2>
<p class="lead">
	&ldquo;Learn continually. There’s always “one more thing” to learn.&rdquo;<br />- Steve Jobs
</p>

<hr />

<h3>Skills</h3>

<div class="row">


	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<span class="ability-title">Python</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Rest APIs</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Django</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Google Cloud Platform</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Flask</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Docker</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Git / Git flow</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

            <li>
                <span class="ability-title">CI / CD (Circle CI, Gitlab CI / CD)</span>
                    <span class="ability-score">
                    <span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
                </span>
			</li>

			<li>
				<span class="ability-title">Google Analytics</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">NoSQL (MongoDB, Redis)</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">Rabbit MQ</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">Apache Kafka</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>
        </ul>
	</div>

	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<span class="ability-title">Apache Airflow</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">FastAPI</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Networking</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">SQL (Postgres, MySQL, GoogleBQ)</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Asynchronous Programming</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Numpy, Pandas</span>
				<span class="ability-score">
    				<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">Shell scripting</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">Kubernetes</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

			<li>
				<span class="ability-title">JavaScript</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
    				<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

			<li>
				<span class="ability-title">HTML5</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
    		</li>

			<li>
				<span class="ability-title">CSS3</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>
		</ul>
	</div>
</div>

<hr />

<h3>Languages</h3>

<div class="row">


	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<span class="ability-title">Russian (Mother tongue)</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">English (Daily use)</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>
		</ul>
	</div>

	<div class="col-md-6">
		<ul class="no-bullets">
            <li>
                <span class="ability-title">Estonian (Elementary)</span>
                <span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>
		</ul>
	</div>
</div>
<hr />

<h3>Tools</h3>

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<span class="ability-title">PyCharm</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

            <li>
				<span class="ability-title">DataGrip</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Sublime Text and Merge</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Windows</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Linux (Debian and Arch based)</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
            </li>

			<li>
				<span class="ability-title">Postman</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Confluence</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Jira</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</span>
			</li>
		</ul>
	</div>

	<div class="col-md-6">
		<ul class="no-bullets">
            <li>
				<span class="ability-title">Visual Studio</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

            <li>
				<span class="ability-title">Jupyter notebook</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

			<li>
				<span class="ability-title">VS Code</span>
				<span class="ability-score">
    				<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>
				
			<li>
				<span class="ability-title">Browser Developer Console</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

			<li>
				<span class="ability-title">Nginx</span>
				<span class="ability-score">
                    <span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>

				
			<li>
				<span class="ability-title">Nano</span>
				<span class="ability-score">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>


            <li>
				<span class="ability-title">Vim</span>
				<span class="ability-score">
        			<span class="glyphicon glyphicon-star filled"></span>
        			<span class="glyphicon glyphicon-star filled"></span>
                    <span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star "></span>
					<span class="glyphicon glyphicon-star "></span>
				</span>
			</li>
		</ul>
	</div>
	
    </div>
    </div>
</div>
		
				
		<div id="projects" class="container">
			<h2>Projects</h2>
<p class="lead">
	&ldquo;Your greatest asset is your earning ability, to apply your knowledge, skills in order to get results which others will pay.&rdquo;<br />- Brian Tracy
</p>

<hr />


<div class="row">

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="{% static 'view/images/coffeebreakerlogo.png' %}" alt="CoffeeBreaker" />
			
			<figcaption>
				<h3>CoffeeBreaker</h3>
				<p>CoffeeBreaker is the automated system that allows coffee drinkers to make one without the participation of a Barista</p>
				<p><strong>Tags:</strong> <br/>Coffee Machine, Automatization, Raspberry pi, IoT</p>
                <a href="https://github.com/kerusey/CoffeeBreaker/" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>



	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="{% static 'view/images/smartcloudlogo.jpg' %}" alt="SmarTClouD" />
			
			<figcaption>
				<h3>SmarTClouD</h3>
				<p>Floating Cloud, a magnetically levitating ambient lamp with light organ technology</p>
				<p><strong>Tags:</strong> <br />Design, Development, Arduino</p>
				<a href="https://github.com/kerusey/SmarTClouD" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>



    <div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="{% static 'view/images/personalcvlogo.png' %}" alt="CoffeeBreaker" />

			<figcaption>
				<h3>My personal CV</h3>
				<p>Why wouldn't I call my interactive CV a project? It actually is =)</p>
				<p><strong>Tags:</strong> <br/>Interactive CV, Resume, Danila Likh</p>
                <a href="https://github.com/kerusey/PersonalCV/" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>

		
</div>


    <div class="text-center portfolio-referral">
	    <p>There is plenty of small projects you may find on my GitHub portfolio</p>
	    <a href="https://github.com/kerusey/" class="btn btn-primary" target="_blank">See my projects on Github</a>
    </div>
	
		</div>
		
		<div class="background-gray">
			<div id="contact" class="container">
				<h2>Contact</h2>
<p class="lead">
	&ldquo;Be well, do good work, and keep in touch.&rdquo;<br />- Garrison Keillor
</p>

<hr />

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<a href="https://twitter.com/keruseyofficial" target="_blank">
					<span class="icon icon-twitter"></span>
					https://twitter.com/keruseyofficial/</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/keruseyoff/" target="_blank">
					<span class="icon icon-linkedin"></span>
					https://linkedin.com/in/keruseyoff/</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<a href="mailto:keruseyoff@gmail.com">
					<span class="icon icon-email"></span>
					<span>Keruseyoff@gmail.com</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<hr />
		</div>
		</div>


		<script type="text/javascript" src="{% static 'ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'view/js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'view/js/bootstrap.min.js' %}"></script>


	</body>

</html>